extends layout

block head
  script(type='text/javascript', src='/common/lib/dat.gui.js')
  script(type='text/javascript', src='/poc3d/basic/editor_camera.js')
  script(type='text/javascript', src='/poc3d/editor.js')
  style.
    #stack {
    position:relative;
    vertical-align: middle;
    }
    #stack > canvas {
    position:absolute;
    left:0;
    top:0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    }

block content
  #stack
    canvas#game_canvas
    canvas#text_canvas

