extends layout

block head
  script(type='text/javascript', src='/common/js/utils.js')
  script(type='text/javascript', src='/common/lib/dat.gui.js')
  script(type='text/javascript', src='/common/lib/gl-matrix.js')
  script(type='text/javascript', src='/javascripts/utils/math.js')
  script(type='text/javascript', src='/poc3d/basic/utils.js')
  script(type='text/javascript', src='/poc3d/renderer/program_loader.js')
  script(type='text/javascript', src='/poc3d/renderer/renderer.js')
  script(type='text/javascript', src='/poc3d/renderer/model_loader.js')
  script(type='text/javascript', src='/poc3d/basic/transform.js')
  script(type='text/javascript', src='/poc3d/entities/entity.js')
  script(type='text/javascript', src='/poc3d/entities/drawable.js')
  script(type='text/javascript', src='/poc3d/entities/pickable.js')
  script(type='text/javascript', src='/poc3d/basic/scene.js')
  script(type='text/javascript', src='/poc3d/basic/camera.js')
  script(type='text/javascript', src='/poc3d/basic/debug_camera.js')
  script(type='text/javascript', src='/poc3d/basic/tracking_camera.js')
  script(type='text/javascript', src='/poc3d/entities/point_light.js')
  script(type='text/javascript', src='/poc3d/entities/floating_light_bulb.js')
  script(type='text/javascript', src='/poc3d/entities/lantern.js')
  script(type='text/javascript', src='/poc3d/entities/hex.js')
  script(type='text/javascript', src='/poc3d/entities/rocket.js')
  script(type='text/javascript', src='/poc3d/entities/player.js')
  script(type='text/javascript', src='/poc3d/entities/particle_system.js')
  script(type='text/javascript', src='/poc3d/entities/fire.js')
  script(type='text/javascript', src='/poc3d/entities/drone.js')
  script(type='text/javascript', src='/poc3d/entities/chest.js')
  script(type='text/javascript', src='/poc3d/entities/loot.js')
  script(type='text/javascript', src='/poc3d/item_system/drop.js')
  script(type='text/javascript', src='/poc3d/item_system/consumable.js')
  script(type='text/javascript', src='/poc3d/item_system/skills.js')
  
  script(type='text/javascript', src='/poc3d/index.js')
  style.
    #stack {
    position:relative;
    vertical-align: middle;
    }
    #stack > canvas {
    position:absolute;
    left:0;
    top:0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    }

block content
  #stack
    canvas#game_canvas
    canvas#text_canvas

