body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#stack {
  position:relative;
  vertical-align: middle;
}

#stack > canvas {
  position:absolute;
  left:0;
  top:0;
  width: 1080px;
  height: 720px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}